<!DOCTYPE html>
<html lang="de">
<!-- This is the HTML which displays the success page to the user. You may modify
 the CSS and Design as much as you like. -->
<head>
    <title>Contact Microservice - Success</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>

    <div id="formSubmittedSuccessfully" style="background-color: green; color: white; padding-left:5px;">
        <p>Your message has been sent!</p>
    </div>

</body>
</html>